* {
    margin: 0;
    padding: 0;
}

body {
    top: 0;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
}

#sidebar {
    width: 200px;
    height: 100%;
    background: #95ACB1;
    opacity: 80%;
    position: absolute;
}

#sidebar ul li {
    list-style-type: none;
}

#sidebar ul a {
    text-decoration: none;
}

img {
    width: 100%;
}